@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f6ce5;
  --secondary-color: #edeef0;
  --text-color-primary: #000;
  --text-color-secondary: #8a8a8a;
}

*::before,
*::after * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  font-weight: 400 !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}

/* Custom CSS */
.h-7 {
  height: 7.2rem !important;
}

.bg-red {
  background-color: red !important;
}

/* Navbar */

.navbar {
  z-index: 100;
}

.main-navbar .form-control {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 4.5rem !important;
  border-radius: 2rem !important;
  background-color: #f2f2f2 !important;
  font-size: 1.4rem;
}

.main-navbar form {
  width: 75%;
}

.main-navbar .search-icon {
  z-index: 100 !important;
  font-size: 2rem;
  top: 10%;
  left: 5%;
}

.shadow-lg {
  box-shadow: 4px 13px 14px -6px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 4px 13px 14px -6px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 4px 13px 14px -6px rgba(0, 0, 0, 0.46);
}

/* Hero Section */

.hero-section .join-btn-outline {
  font-size: 2rem;
  font-weight: 700;
}
.hero-section {
  height: 44rem;
  width: 100%;
  background-image: url("./assets/banner/hero-banner.webp"),
    linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

/* Hero Text Box */

.hero-section .hero-section-text-box h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.hero-section .hero-section-text-box h4 {
  font-size: 1.6rem;
  font-weight: 400 !important;
}

@media screen and (min-width: 768px) {
  .main-navbar form {
    width: 40%;
  }

  .hero-section .hero-section-text-box {
    padding: 10rem !important;
  }

  .hero-section .hero-section-text-box h1 {
    font-size: 3.6rem;
  }
  .hero-section .hero-section-text-box h4 {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 576px) {
  .hero-section .hero-section-text-box {
    padding: 0rem 0rem 15rem 0rem !important;
  }
}
